@import "reset";
@import "variables";
@import "./themes/base";

.app {
	display: flex;
	flex-direction: column;
	font: var(--font-text);
	color: var(--primary-color);
	background: var(--main-bgColor);
	min-height: 100vh;
}

main {
	flex: 1;
}
